%div{:style => "margin: 0 auto; width: 700px; margin-top:50px"}
  =image_tag("/assets/ljdj_data.gif")
  .top-twenty-margin.center.muli.t1-2em.tbold
    %a{:href => "/"}
      .btn.btn-large.btn-success
        %i.icon-download-alt.icon-white
        Download all datasets
  .top-bottom-ten-padding.t1-6em.arvo.hdividerbottom.top-ten-margin
    The Data
  .top-bottom-twenty-margin
    description
  .top-bottom-ten-padding.t1-6em.arvo.hdividerbottom.top-ten-margin
    Dataset
    
        