
.caudex {font-family: 'Caudex', serif;}
.lato {font-family: 'Lato', sans-serif;}
.arvo {font-family: 'Arvo', serif;}
.cabin {font-family: 'Cabin', sans-serif;}
.neuton {font-family: 'Neuton', serif;}
.economica {font-family: 'Economica', sans-serif;}
.istok-web {font-family: 'Istok Web', sans-serif;}
.josefin-sans{font-family: 'Josefin Sans', sans-serif;}
.bitter{font-family: 'Bitter', serif;}
.josefin-slab{font-family: 'Josefin Slab', serif;}
.muli{font-family: 'Muli', sans-serif;}
.alegreya{font-family: 'Alegreya', serif;}
.alegraya-sc{font-family: 'Alegreya SC', serif;}
.crimson{font-family: 'Crimson Text', serif;}
.quattro{font-family: 'Quattrocento Sans', sans-serif;}